{% load humanize %}
<! DOCTYPE html>
<html lang="en">
 <head>
<title> Nippon Lead-Sales Report </title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"> </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
h2 {
  position: relative;
  padding: 10px;
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
</style>
<body>
<div class="container mx-auto">
  <center><h2>Lead Sales Data</h2></center>
    <a href="{% url 'home' %}" class="btn btn-dark m-4">Back</a>
    <a href="{% url 'download' lead_obj.lead_id %}" class="btn btn-success m-4 float-right">Download</a>
    <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Lead ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Status</th>
          <th>Invoice Number</th>
          <th>Invoice Amount</th>
          <th>Purchase Date</th>
                 </tr>
      </thead>
      <tbody>
      {% for ls in lead_sales %}
        <tr>
          <td>{{ lead_obj.lead_id }}</td>
          <td>{{ lead_obj.user_name }}</td>
          <td>{{ lead_obj.user_type }}</td>
          <td>{{ lead_obj.user_group }}</td>
          <td>{{ ls.invoice_no }}</td>
          <td>{{ ls.invoice_amount |floatformat:"0"|intcomma }}</td>
          <td>{{ ls.purchase_date |date:"d-m-Y" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>